body {
    font-family: Arial, sans-serif;
    background: linear-gradient(45deg, #4a525e, #0e141b);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    max-width: 400px;
    padding: 20px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h1 {
    text-align: center;
    color: #fff;
}

.input-section {
    text-align: center;
    margin-bottom: 20px;
}

input[type="text"] {
    width: calc(100% - 80px);
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    color: #fff;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#addressInfo {
    color: #fff;
}
